.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* client/src/App.css */
.App {
  text-align: center;
}

main {
  padding: 20px;
}
/* Добавим следующие стили в ваш общий стилевой файл, например, App.css или где-то подобном */

body.modal-open {
  overflow: hidden;
}
.password {
  margin-top: 90px;
  text-align: center;
}
.inpPass {
  width: 200px;
  margin: auto;
}

@media (max-width: 768px) {
  /*html body {*/
  /*  text-align: center;*/
  /*  overflow-x: hidden; !* Добавляем свойство для предотвращения горизонтального скроллинга *!*/
  /*}*/
  .password {
    margin-top: 170px;
    text-align: center;
    overflow-x: hidden; /* Добавляем свойство для предотвращения горизонтального скроллинга */
  }
}
@media (max-width: 140px) {
  /*html body {*/
  /*  text-align: center;*/
  /*  overflow-x: hidden; !* Добавляем свойство для предотвращения горизонтального скроллинга *!*/
  /*}*/
  .password {
    margin-top: 170px;
    text-align: center;
    overflow-x: hidden; /* Добавляем свойство для предотвращения горизонтального скроллинга */
  }

}
@media (max-width: 390px) {
  /*html body {*/
  /*  text-align: center;*/
  /*  overflow-x: hidden; !* Добавляем свойство для предотвращения горизонтального скроллинга *!*/
  /*}*/
  .password {
    margin-top: 170px;
    text-align: center;
    overflow-x: hidden; /* Добавляем свойство для предотвращения горизонтального скроллинга */
  }

}